body {

    background-color:blanchedalmond;

}

#form-div {

    background-color: white;
    border: 1px solid black;
    display: table;
    margin: 0 auto;
    padding: 10px;
}

#buttons {

    background-color: black;
    width: 234px;

    display: table;
    margin: 0 auto;

}

.buttons {
    width: 234px;
    height: 45px;
    display: table;
    margin: 0 auto;
    

}

#message {

    display:none;
    background:#f1f1f1;
    color: #000;
    position:relative;
    padding: 20px;
    margin-top: 10px;

}

#message p {

    padding: 10px 35px;
    font-size: 18px;

}

.valid {
    color: green;
  }

.valid:before {

    position:relative;
    left: -35px;

}

.invalid {

    color: crimson;

}

.invalid:before {

    position: relative;
    left: -35px;

}