<!--menu.html-->

<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      {{ if not .is_logged_in }}
        <!--Display this link only when the user is not logged in-->
        <li><a href="/users/register">Register</a></li>
      {{end}} 
      {{ if not .is_logged_in }}
        <!--Display this link only when the user is not logged in-->
        <li><a href="/users/login">Login</a></li>
      {{end}} 
      {{ if .is_logged_in }}
        <!--Display this link only when the user is logged in-->
        <li><a href="/users/logout">Logout</a></li>
      {{end}}
      {{ if not .is_logged_in }}
      <!--Display this link only when the user is not logged in-->
      <li><a href="/users/reset">Reset Password</a></li>
    {{end}} 
    </ul>
  </div>
</nav>
