{{ template "header.html" .}}

<h1>Reset Password</h1>


<div class="panel panel-default col-sm-6">
  <div class="panel-body">
    <!--If there's an error, display the error-->
    {{ if .ErrorTitle}}
    <p class="bg-danger">
      {{.ErrorTitle}}: {{.ErrorMessage}}
    </p>
    {{end}}
    <!--Create a form that POSTs to the `/u/login` route-->
    <form class="form" action="/users/reset" method="POST">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
      </div>
      <button type="submit" class="btn btn-primary">Reset</button>
    </form>
  </div>
</div>  


<!--Embed the footer.html template at this location-->
